$main: "school";
$child: "box";
$language: "en"; // English
$gap: 20px;

.#{$main} {
  padding: 20px;
  @if $language == "en" {
    direction: ltr;
  } @else {
    direction: rtl;
  }
  margin-left: 20px;
  & .#{$main}-#{$child} {
    padding: $gap / 2;
  }
  &:hover .#{$main}-#{$child} {
    background-color: #eee;
  }
}
